$main-blue: #0c1c34;
$main-gold: #f8c90c;
$main-gray: #54595F;

@media screen and (max-width: 1025px){
    .navbar {
        .container-fluid {
            padding: 0 50px !important;
        }
    }
    .mb-info-bg {
        .mb-info {
            width: 95% !important;
        }
    }
    .footer-links {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
@media screen and (max-width: 769px){
    .navbar {
        .container-fluid {
            .mb-logo-and-hamburger {
                display: block;
                width: 100%;
                .mb-hamburger-btn {
                    display: inline !important;
                    padding: 0 10px;
                    border: none;
                    background-color: $main-blue !important;
                    float: right;
                    i {
                        color: #fff !important;
                        font-size: 32px;
                    }
                }
            }
            #mb-nav-container {
                width: 100%;
                display: flex !important;
                justify-content: start !important;
                align-items: center;
                .navbar-nav {
                    // display: flex;
                    // justify-content: start;
                    // align-items: center;
                    // flex-direction: column;
                    display: none;

                }
            }
        }
    }
    .mb-info-bg {
        .mb-info {
            width: 95% !important;
        }
    }
    .mb-questions-width {
        width: 95% !important;
    }
}
@media screen and (max-width: 426px){
    .navbar {
        .container-fluid {
            padding: 0 30px !important;
        }
    }
    .mb-header-bg-img {
        height: 500px;
        padding: 0px;
    }
    .mb-header-content {
        width: 100% !important;
    }
    .mb-info-bg {
        .mb-info-icon {
            i {
                font-size: 45px !important;
            }
        }
    }
    .footer-links {
        ul {
            li {
                a {
                    text-align: center !important;
                }
            }
        }
    }
}
@media screen and (max-width: 376px){
    .mb-about-header {
        width: 100%;
    }
}
